<label for="remote_path" class="text-slate-700">Path:</label>

<div class="flex border border-slate-300 rounded-lg overflow-hidden">
  <div class="text-slate-900 bg-slate-300 flex flex-row gap-2 p-2">
    {% include 'svg/icons/folder.html' %} {{ root_path }}
  </div>

  <div class="bg-white text-slate-700 flex-grow">
    <input
      type="text"
      id="{{ 'output_location' if storage_type == 'output' else 'location' }}"
      name="{{ 'output_location' if storage_type == 'output' else 'location' }}"
      class="w-full h-full px-2 focus:outline-none"
      value="{{ location or '' }}"
      required
    />
  </div>
</div>
