<div class="my-4">
    <label for="bucket" class="block text-gray-700">Bucket:</label>
    <input type="text" id="{{ 'output_bucket' if storage_type == 'output' else 'bucket' }}" name="{{ 'output_bucket' if storage_type == 'output' else 'bucket' }}" class="block w-full mt-1 p-2 border border-gray-300 rounded-md" value="{{ bucket or '' }}" required>
</div>
<div class="mb-4">
    <label for="{{ 'output_location' if storage_type == 'output' else 'location' }}" class="block text-gray-700">Filename:</label>
    <input type="text" id="{{ 'output_location' if storage_type == 'output' else 'location' }}" name="{{ 'output_location' if storage_type == 'output' else 'location' }}" class="block w-full mt-1 p-2 border border-gray-300 rounded-md" value="{{ location or '' }}" required>
</div>
