{% extends "top/add_outcome_layout.html" %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <form method="POST"
          action="{{ url_for('top.outcome.add_outcome_view', workflow_id=workflow_id, outcome_type_id=outcome_type_id) }}"
          enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="border border-slate-300 rounded-lg bg-slate-200">
            <details class="group">
                <summary class="flex flex-row items-center rounded-lg bg-slate-200 cursor-pointer list-none">
                    <p class="text-slate-700 font-bold p-2">How to use</p>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="3"
                         stroke="currentColor"
                         class="size-4 transition-transform duration-200 ease-in-out group-open:rotate-90">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                    </svg>
                </summary>
                <div class="bg-slate-200 p-1">
                    <div class="flex-col space-y-4 p-2 bg-white rounded-lg">
                        {% for explanation in explanations %}
                            <div>
                                <p>{{ explanation }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </details>
        </div>
        <div class="border border-slate-300 rounded-lg p-2 my-2 bg-slate-200">
            {# These fields are handled by the components below so ignore in the dynamic list #}
            {% set accessor_fields = ["name", "bucket", "location", "output_bucket", "output_location", "download_name"] %}
            {# Render the dynamically generated fields, excluding the ones handled by the component #}
            {# The Outcome forms currently don't have fields other than those in mixins, but this loop is robust #}
            {% for field in form if field.widget.input_type != 'hidden'
                and field.name != 'submit'
                and field.name not in accessor_fields %}
                <div class="mb-3 flex gap-4">
                    {{ field.label(class='block mt-4 text-sm font-medium text-slate-900') }}
                    {% if field.type == "TextAreaField" %}
                        {{ field(rows=5, class='mt-1.5 p-2 w-full rounded-lg bg-white border-slate-300 text-slate-700 sm:text-sm') }}
                    {% else %}
                        {{ field(class='mt-1.5 p-2 w-full rounded-lg bg-white border-slate-300 text-slate-700 sm:text-sm') }}
                    {% endif %}
                </div>
            {% endfor %}
            {% if 'input_file_accessor' in components %}
                <div class="flex flex-row items-center mb-4">
                    <div class="text-xl font-bold text-slate-800 mr-4">TEMPLATE</div>
                    <div class="flex-grow border-t-2 border-slate-300"></div>
                </div>
                <div class="grid grid-cols-[auto_1fr] items-center gap-x-4 gap-2 border border-slate-300 rounded-lg p-2 text-slate-900 bg-slate-100">
                    <label for="option" class="">{{ file_label or "File:" }}</label>
                    <select id="option"
                            name="option"
                            class=" bg-white w-full p-2 border border-slate-300 rounded-lg"
                            hx-get="{{ url_for("top.snippet.storage_instance_form_snippet") }}"
                            hx-target="#dynamic-fields"
                            required>
                        <option selected="true" disabled="disabled" value="">Select...</option>
                        <option value="-1">Uploaded during Workflow</option>
                        {% for storage_instance in storage_instances %}
                            <option value="{{ storage_instance.Id }}">
                                ({{ storage_instance.storage_type.Name }}) {{
                                storage_instance.RemotePath or storage_instance.URL}}
                            </option>
                        {% endfor %}
                    </select>
                    <div id="dynamic-fields" class="contents"></div>
                </div>
            {% endif %}
            {% if 'output_file_accessor' in components %}
                <div class="flex flex-row items-center mb-4 mt-6">
                    <div class="text-xl font-bold text-slate-800 mr-4">OUTPUT</div>
                    <div class="flex-grow border-t-2 border-slate-300"></div>
                </div>
                <div class="grid grid-cols-[auto_1fr] items-center gap-x-4 gap-2 border border-slate-300 rounded-lg p-2 text-slate-900 bg-slate-100">
                    <label for="option" class="">{{ file_label or "File:" }}</label>
                    <select id="outputoption"
                            name="outputoption"
                            class=" bg-white w-full p-2 border border-slate-300 rounded-lg"
                            hx-get="{{ url_for("top.snippet.storage_instance_form_snippet", placeholder=placeholder, storage_type='output') }}"
                            hx-target="#dynamic-fields-output"
                            required>
                        <option selected="true" disabled="disabled" value="">Select...</option>
                        <option value="-1">Downloaded after Workflow</option>
                        {% for storage_instance in storage_instances %}
                            <option value="{{ storage_instance.Id }}">
                                ({{ storage_instance.storage_type.Name }}) {{
                                storage_instance.RemotePath or storage_instance.URL}}
                            </option>
                        {% endfor %}
                    </select>
                    <div id="dynamic-fields-output" class="contents"></div>
                    <div class="col-span-1"></div>
                    <div class="italic text-sm">
                        The output uses templating! for example: <span class="bg-slate-300 text-slate-900 font-bold p-1 rounded-lg">{% raw %}{{ client_id }} invoice.pdf{% endraw %}</span>
                    </div>
                </div>
            {% endif %}
            <div class="mt-1.5">
                {{ form.submit(class='mt-1.5 rounded-lg border bg-sky-800 hover:bg-sky-700 px-12 py-3 font-semibold text-slate-100 focus:outline-none focus:ring cursor-pointer') }}
            </div>
        </div>
    </form>
{% endblock content %}
