<!DOCTYPE html>
<html lang="en">

{% include "components/head.html" %}
{% from 'macros/workflow_diagram.html' import workflow_diagram %}

<body class="bg-gray-100">
    <div class="flex">
        <!-- Sidebar -->
        {% include "components/side-menu.html" %}


        <!-- Main content -->
        <div class="col-span-6 flex-1 p-6 space-y-6">
            <h1 class="text-3xl font-semibold mb-4">Add Outcome: {% block title %}{% endblock %}</h1>
            <span class="flex items-center">
                <span class="h-px flex-1 bg-black"></span>
            </span>

            <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
                <div class="col-span-1">
                    {% block content %}
                    {% endblock content %}
                </div>

                <div class="col-span-1 pl-6">
                    <p class="text-xl font-bold mb-2">Current Workflow</p>
                    {{ workflow_diagram(workflow_id) }}
                </div>
            </div>
        </div>
    </div>
</body>

</html>
