{% extends "top/add_source_layout.html" %}
{% block title %}
    Add Form Field
{% endblock title %}
{% block content %}
    <div class="border border-slate-300 rounded-lg bg-slate-200">
        <details class="group">
            <summary class="flex flex-row items-center rounded-lg bg-slate-200 cursor-pointer list-none">
                <p class="text-slate-700 font-bold p-2">How to use</p>
                <svg xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="3"
                     stroke="currentColor"
                     class="size-4 transition-transform duration-200 ease-in-out group-open:rotate-90">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>
            </summary>
            <div class="bg-slate-200 p-1">
                <div class="flex-col space-y-4 p-2 bg-white rounded-lg">
                    <p>Add a Field for a user to fill out.</p>
                    <p>Form Fields are always the first part of a Workflow that is run.</p>
                    <p>
                        The value input by the user can be accessed using the Name of the Field, while the Label of the field is what the user will see on the form.
                    </p>
                    <p>
                        For example, if the name is client_name, and the label is Client Name, then the text that the user input can be accessed in your templates using 'client_name'.
                    </p>
                </div>
            </div>
        </details>
    </div>
    <form method="POST"
          action="{{ url_for('top.form_field.add_form_field_view', workflow_id=workflow_id) }}"
          hx-post="{{ url_for('card.form_field_preview') }}"
          hx-target="#preview"
          hx-trigger="input changed delay:300ms from:input, change from:select">
        {{ form.csrf_token }}
        <div class="border border-slate-300 rounded-lg p-2 my-2 bg-slate-200 text-slate-900 grid grid-cols-[auto_1fr] gap-x-4 gap-y-4 items-center">
            <label class="text-slate-900" for="name">Name of Field</label>
            <input class="p-2 w-48 rounded-lg border-slate-300 bg-white"
                   id="name"
                   name="name"
                   required
                   type="text"
                   value="">
            <label class="text-slate-900" for="label">Label of Field</label>
            <input class="p-2 w-48 rounded-lg border-slate-300 bg-white"
                   id="label"
                   name="label"
                   required
                   type="text"
                   value="">
            <label class="block text-slate-900" for="field_type">Data Type of Field</label>
            <select class="justify-self-start bg-white p-2 border border-slate-300 rounded-lg"
                    id="field_type"
                    name="field_type"
                    required>
                <option value="Integer">Integer</option>
                <option value="String">String</option>
            </select>
            <input class="border rounded-lg bg-sky-800 hover:bg-sky-700 px-12 py-3 text-slate-50 cursor-pointer"
                   id="submit"
                   name="submit"
                   type="submit"
                   value="Submit">
        </div>
    </form>
    <div id="preview"></div>
{% endblock content %}
