{% extends "top/add_source_layout.html" %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}

{# Note the action URL now points to our new edit view #}
<form method="POST" action="{{ url_for('top.source.edit_source_view', workflow_id=workflow_id, source_id=source_id) }}" enctype="multipart/form-data">
    {{ form.csrf_token }}

    <div class="border rounded bg-gray-50 p-4 flex items-center gap-4">
        <div class="text-green-500">
            {% include 'svg/important.html' %}
        </div>

        <div class="flex-col space-y-4">
            {% for explanation in explanations %}
            <div> <p>{{ explanation }}</p> </div>
            {% endfor %}
        </div>
    </div>

    <div class="border rounded p-2 my-2 bg-gray-50">
        {# These fields are handled by the components below so ignore in the dynamic list #}
        {% set accessor_fields = ['name', 'bucket', 'location'] %}
        {% set multirecord_fields = ['splitter_choice', 'field_name'] %}

        {# Render the dynamically generated fields, excluding the ones handled by the component #}
        {% for field in form if field.widget.input_type != 'hidden' 
                              and field.name != 'submit' 
                              and field.name not in accessor_fields
                              and field.name not in multirecord_fields %}
            <div class="mb-3 flex gap-4">
                {{ field.label(class='block mt-4 text-sm font-medium text-gray-900') }}

                {% if field.type == "TextAreaField" %}
                    {{ field(rows=5, class='mt-1.5 p-2 w-full rounded-lg bg-white border-gray-300 text-gray-700 sm:text-sm') }}
                {% else %}
                    {{ field(class='mt-1.5 p-2 w-full rounded-lg bg-white border-gray-300 text-gray-700 sm:text-sm') }}
                {% endif %}
            </div>

        {% endfor %}

        {# Render the required components #}
        {% if 'file_accessor' in components %}

            <div class="border border-gray-300 rounded p-4 mt-4">
                <label for="option" class="pt-4">{{ file_label or "File:" }}</label>
                <select id="option" name="option" class=" bg-gray-50 mt-4 block w-full p-2 border border-gray-300 rounded-md"
                    hx-get="{{ url_for('top.snippet.input_storage_instance_form_edit_snippet', source_id=source_id) }}" 
                    hx-target="#dynamic-fields" 
                    hx-trigger="load, change"
                    required>
                    
                    <option disabled="disabled" value="">Select...</option>

                    <option value="-1" {% if not source.file_template or source.file_template.StorageInstanceId == -1 %}selected{% endif %}>
                        Uploaded during Workflow
                    </option>
                    
                    {% for storage_instance in storage_instances %}
                        <option value="{{ storage_instance.Id }}" 
                                {% if source.file_template and source.file_template.StorageInstanceId == storage_instance.Id %}selected{% endif %}>
                            ({{ storage_instance.storage_type.Name }}) {{ storage_instance.RemotePath or storage_instance.URL}}
                        </option>
                    {% endfor %}

                </select>

                <div id="dynamic-fields"></div>

            </div>

        {% endif %}

        {% if 'splitter' in components %}
            <fieldset class="grid grid-cols-2 gap-6">

                <!--Splitter-->
                <label class="col-span-1 p-6 border rounded mt-6 has-[:checked]:bg-blue-100" for="splitter">
                    <input type="radio" name="splitter_choice" id="splitter" value="splitter" {% if source.Splitter %}checked{% endif %}>
                    Splitter
                    <p class="italic mt-6">Each record will be split into a new Workflow</p>
                </label>
            
                <!--Field-->
                <label class="col-span-1 p-6 border rounded mt-6 has-[:checked]:bg-blue-100" for="field">
                    <input type="radio" name="splitter_choice" id="field" class="peer/field" value="field" {% if not source.Splitter %}checked{% endif %}>
                    Field
                    <p class="italic mt-6">All records will be set to a field name as a list</p>
                    <label for="field_name" class="peer-checked/field:text-black block mt-5 text-gray-500">
                        Field Name
                    <input class="mt-1.5 p-2 w-full rounded-lg bg-gray-50 border-gray-300 text-gray-700 sm:text-sm" id="field_name"
                        name="field_name" type="text" value="{{ source.FieldName or '' }}">
            </label>
                </label>
            
            </fieldset>
        {% endif %}

        <div class="mt-1.5">
            {{ form.submit(class='mt-1.5 rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium
            text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500', value='Save Changes') }}
        </div>
    </div>

</form>

{% endblock content %}
