<!DOCTYPE html>
<html lang="en">

{% include "components/head.html" %}
{% import 'macros/alert.html' as alert_macro %}

<body class="bg-gray-100">
    <div class="flex">
        <!-- Sidebar -->
        {% include "components/side-menu.html" %}

        <!-- Main content -->
        <div class="col-span-9 flex-1 p-6 space-y-6">
            {% include 'components/alerts.html' %}

            <h1 class="text-3xl font-semibold mb-4">AutoDocument</h1>
            <span class="flex items-center">
                <span class="h-px flex-1 bg-black"></span>
            </span>


            <div class="flex flex-row gap-4">

                {% if workflows %}
                <div class="flex-1">
                    <div class="mx-auto max-w-lg text-center">
                        <h1 class="text-2xl font-bold sm:text-3xl pb-1">Workflows</h1>
                    </div>
                    {% include "components/workflows_table.html" %}
                </div>

                {% else %}

                <div class="border rounded-lg flex-1 flex flex-row p-2 bg-gray-200">
                    <div>
                        <svg class="w-12 h-12 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            width="24" height="24" fill="none" viewBox="0 0 24 24">
                            {% include 'svg/important.html' %}
                        </svg>
                    </div>
                    <div>
                        <h1 class="text-xl font-bold">Get Started: Add a Workflow</h1>
                        <p>A Workflow connects one or more data Sources to one or more Outcomes.</p>
                    </div>
                </div>

                {% endif %}

                <div class="flex-1">
                    <div>
                        <div class="mx-auto max-w-lg text-center">
                            <h1 class="text-2xl font-bold sm:text-3xl">Create Workflow</h1>
                        </div>
                    </div>
                    <div>
                        <form method="post" action="{{ url_for('top.workflow.create_workflow_view') }}"
                            class="mx-auto mb-0 mt-8 max-w-md space-y-4">
                            {{ form.csrf_token }}
                            <div class="flex items-center justify-between">
                                <label for="Name" class="sr-only">name</label>

                                <div class="flex-grow relative">
                                    <input type="text" id="Name" name="name"
                                        class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                                        placeholder="name" />
                                </div>

                                <button type="submit"
                                    class="inline-block rounded-lg bg-blue-500 px-5 py-3 text-sm font-medium text-white ml-4">
                                    create
                                </button>
                            </div>
                        </form>
                    </div>
                </div>


            </div>

        </div>
</body>

</html>
