<!DOCTYPE html>
<html lang="en">
{% import 'macros/alert.html' as alert_macro %}

{% include "components/head.html" %}
{% from 'macros/workflow_diagram.html' import workflow_diagram %}

<body class="bg-gray-100">
    <div class="flex">
        <!-- Sidebar -->
        {% include "components/side-menu.html" %}

        <!-- Main content -->
        <div class="col-span-6 flex-1 p-6 space-y-6">

            {% include 'components/alerts.html' %}

            <h1 class="text-3xl font-semibold mb-4">Workflow: {{ workflow.Name}}</h1>
            <a class="inline-block rounded px-4 py-2 text-sm font-semibold text-white bg-blue-500 hover:bg-red-400 focus:relative"
                    href="{{ url_for('top.workflow.workflow_instance', workflow_id=workflow.Id) }}">Run</a>

            <span class="flex items-center">
                <span class="h-px flex-1 bg-black"></span>
            </span>


            <!-- Vertical Div-->
            <div class="grid grid-cols-1 gap-4 lg:grid-cols-4 lg:gap-8">

                <!--Left hand column with diagram-->
                <div class=" lg:col-span-3">
                    {{ workflow_diagram(workflow.Id) }}
                </div>

                <!--Right hand column with source and outcome adding-->
                <div class=" lg:col-span-1 flex flex-col gap-4">
                    <h2>Add Sources</h2>
                    {% include "components/add_source_table.html" %}
                    <h2>Add Outcomes</h2>
                    {% include "components/add_outcome_table.html" %}
                </div>
            </div>

        </div>
    </div>
</body>

</html>
