<!DOCTYPE html>
<html lang="en">
{% import 'macros/alert.html' as alert_macro %}

{% include "components/head.html" %}
{% from 'macros/workflow_diagram.html' import workflow_diagram %}

<body class="bg-gray-100">
    <div class="flex">
        <!-- Sidebar -->
        {% include "components/side-menu.html" %}

        <!-- Main content -->
        <div class="col-span-6 flex-1 p-6 space-y-6">

            {% include 'components/alerts.html' %}

            <h1 class="text-3xl font-semibold mb-4">Workflow: {{ workflow.name}}</h1>
            <a class="inline-block rounded px-4 py-2 text-sm font-semibold text-white bg-blue-500 hover:bg-red-400 focus:relative"
                    href="{{ url_for('top.workflow.workflow_instance', workflow_id=workflow.workflow_id) }}">Run</a>

            <span class="flex items-center">
                <span class="h-px flex-1 bg-black"></span>
            </span>


            <!--Sources Vertical Div-->
            <div class="grid grid-cols-1 gap-4 lg:grid-cols-4 lg:gap-8">
                <h1 class="text-3xl font-semibold mb-4 lg:col-span-4">Sources</h1>

                <!--Left hand column with list of sources-->
                <div class=" lg:col-span-3">

                    {% if form_fields %}
                    {% include "components/form_fields_table.html" %}
                    {% endif %}


                    {% include "components/sources_table.html" %}

                    {{ workflow_diagram(workflow.workflow_id) }}

                </div>

                <!--Left hand column with source adding-->
                <div class=" lg:col-span-1">
                    {% include "components/add_source_table.html" %}
                </div>
            </div>

            <!--Outcomes Vertical Div-->
            <div class="grid grid-cols-1 gap-4 lg:grid-cols-4 lg:gap-8">
                <h1 class="text-3xl font-semibold mb-4 lg:col-span-4">Outcomes</h1>

                <!--Left hand column with list of sources-->
                <div class=" lg:col-span-3">
                    {% include "components/outcomes_table.html" %}
                </div>

                <!--Left hand column with source adding-->
                <div class=" lg:col-span-1">
                    {% include "components/add_outcome_table.html" %}
                </div>
            </div>

        </div>
    </div>
</body>

</html>
