<!DOCTYPE html>
<html lang="en">
    {% import 'macros/alert.html' as alert_macro %}
    {% include "components/head.html" %}
    {% from 'macros/workflow_diagram.html' import workflow_diagram %}
    <body class="bg-slate-50">
        <div class="flex">
            <!-- Sidebar -->
            {% include "components/side-menu.html" %}
            <!-- Main content -->
            <div class="col-span-6 flex-1 p-6 space-y-6">
                {% include 'components/alerts.html' %}
                <div class="flex justify-between items-center">
                    <div class="flex flex-row gap-2 items-center">
                    <h1 class="text-3xl font-semibold mb-4 text-slate-700">WORKFLOW</h1>
                    <h1 class="text-3xl font-semibold mb-4 text-slate-900 bg-slate-200 rounded-lg p-1">{{ workflow.Name }}</h1>
                    {% if not use_workers %}
                    <div class="bg-red-200 p-2 rounded-lg">CURRENTLY RUNNING IN SINGLE MODE FOR TESTING</div>
                    {% endif %}
                    </div>
                    <a class="inline-flex rounded px-4 py-2 text-xl font-semibold text-slate-100 bg-sky-800 hover:bg-sky-700 focus:relative items-center"
                       href="{{ url_for('top.workflow.workflow_instance', workflow_id=workflow.Id) }}">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke-width="2"
                             stroke="currentColor"
                             class="size-6 mr-2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
                        </svg>
                        Run
                    </a>
                </div>
                <div class="grid grid-cols-1 gap-4 lg:grid-cols-4 lg:gap-8">
                    <!--Left hand column with diagram-->
                    <div class=" lg:col-span-3">{{ workflow_diagram(workflow.Id) }}</div>
                    <!--Right hand column with source and outcome adding-->
                    <div class=" lg:col-span-1 flex flex-col gap-4">{% include "components/add_menu.html" %}</div>
                </div>
            </div>
        </div>
    </body>
</html>
