<div class="border rounded-lg flex flex-row p-2 m-1 gap-2 bg-blue-400">

    <div>
        <svg class="w-12 h-12 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            {% include 'svg/record.html' %}
        </svg>

    </div>

    <div class="flex flex-col">
        <div class="flex flex-row gap-2 mb-2">
            <h2 class="text-xl font-bold">Microsoft Word File</h2>
            <a class="rounded px-4 py-2 text-sm font-semibold text-white bg-blue-500 hover:bg-blue-400 focus:relative"
                href="{{ url_for('top.outcome.edit_outcome_view', workflow_id=outcome.WorkflowId, outcome_id=outcome.Id) }}">edit</a>
            <a class="rounded inline-block px-4 py-2 text-sm font-semibold text-white bg-red-500 hover:bg-red-400 focus:relative"
                href="{{ url_for('top.outcome.delete_outcome_view', workflow_id=outcome.WorkflowId, outcome_id=outcome.Id) }}">delete</a>
        </div>

        <div class="flex flex-row gap-2 mb-5">

            <p class="font-bold">Template Loaded From:</p>
            <div class="mt-2 p-1 rounded-lg bg-gray-100" hx-trigger="load"
                hx-get="{{ url_for('card.outcome_storage_card', outcome_id=outcome.Id, input_type='input') }}" hx-swap="outerHTML">
            </div>
        </div>

        <div class="flex flex-row gap-2">

            <p class="font-bold">Saved To:</p>
            <div class="mt-2 p-1 rounded-lg bg-gray-100" hx-trigger="load"
                hx-get="{{ url_for('card.outcome_storage_card', outcome_id=outcome.Id, input_type='output') }}" hx-swap="outerHTML">
            </div>

        </div>

    </div>
</div>

