{% extends "components/cards/sources/source_card_template.html" %}
{% block svg %}
    <svg class="w-12 h-12 text-green-800"
         aria-hidden="true"
         xmlns="http://www.w3.org/2000/svg"
         width="24"
         height="24"
         fill="currentColor"
         viewBox="0 0 24 24">
        {% include 'svg/csv.html' %}
    </svg>
{% endblock svg %}
{% block title %}
    {% if source["Name"] %}
        <h2 class="text-xl font-bold">CSV - {{ source["Name"] }}</h2>
    {% else %}
        <h2 class="text-xl font-bold">CSV</h2>
    {% endif %}
{% endblock title %}

{% block extra_details %}{% endblock extra_details %}
{% block other %}{% endblock other %}

