{% extends "components/cards/sources/source_card_template.html" %}
{% block title %}
    <h2 class="text-xl font-bold">Database Query - Transposed</h2>
{% endblock title %}
{% block svg %}
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 24 24"
         fill="currentColor"
         class="size-6 text-sky-700 w-12 h-12">
        {% include 'svg/database.html' %}
    </svg>
{% endblock svg %}
{% block card_contents %}
    <div class="flex flex-col gap-2">
        <div class="flex gap-2 items-center">
            <span class="font-bold">Loaded From:</span>
            <div class="border-none rounded-lg bg-slate-200 p-1 flex gap-2 items-center">
                <svg xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor"
                     class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
                </svg>
                {{ source.database.Name }}
            </div>
        </div>
        <div class="flex gap-2 items-center">
            <div class="border-none rounded-lg bg-slate-200 p-1 flex gap-2 items-center">
                <svg xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor"
                     class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25a3 3 0 0 1 3 3m3 0a6 6 0 0 1-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1 1 21.75 8.25Z" />
                </svg>
                {{ source.KeyField }}
            </div>
            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
            </svg>
            <div class="border-none rounded-lg bg-slate-200 p-1 flex gap-2 items-center">
                <svg xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor"
                     class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.745 3A23.933 23.933 0 0 0 3 12c0 3.183.62 6.22 1.745 9M19.5 3c.967 2.78 1.5 5.817 1.5 9s-.533 6.22-1.5 9M8.25 8.885l1.444-.89a.75.75 0 0 1 1.105.402l2.402 7.206a.75.75 0 0 0 1.104.401l1.445-.889m-8.25.75.213.09a1.687 1.687 0 0 0 2.062-.617l4.45-6.676a1.688 1.688 0 0 1 2.062-.618l.213.09" />
                </svg>
                {{ source.ValueField }}
            </div>
        </div>
    </div>
{% endblock card_contents %}
{% block details_info %}
    <div class="flex flex-col gap-2 bg-slate-200">
        <div class="p-2">
            The values from the column <span class="font-bold">{{ source.ValueField }}</span> can be accessed by using the values in the <span class="font-bold">{{ source.KeyField }}</span> in the template.
        </div>
        <div class="p-2">
            <div class="text-slate-700 font-bold mb-2">Query:</div>
            <div class="p-1 rounded-lg bg-slate-50">
                <p class="whitespace-pre-line hover:">{{ source.SQLText }}</p>
            </div>
        </div>
    </div>
{% endblock details_info %}
{% block other %}
{% endblock other %}
{% block multi %}
{% endblock multi %}
