{% extends "components/cards/sources/source_card_template.html" %}
{% block title %}
    <h2 class="text-xl font-bold">Database Query - Single Record</h2>
{% endblock title %}
{% block svg %}
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 24 24"
         fill="currentColor"
         class="size-6 text-sky-700 w-12 h-12">
        {% include 'svg/database.html' %}
    </svg>
{% endblock svg %}
{% block card_contents %}
    <!-- Key Details -->
    <div class="flex gap-2">
        <span class="font-bold">Loaded From:</span>
        <div class="border-none rounded-lg bg-slate-200 p-1 flex gap-2 items-center">
            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
            </svg>
            {{ source.database.Name }}
        </div>
    </div>
{% endblock card_contents %}
{% block details_info %}
    <div class="bg-slate-200 p-2">
        <div class="text-slate-700 font-bold mb-2">Query:</div>
        <div class="p-1 rounded-lg bg-slate-50">
            <p class="whitespace-pre-line hover:">{{ source.SQLText }}</p>
        </div>
    </div>
{% endblock details_info %}
{% block multi %}
{% endblock multi %}
{% block other %}
{% endblock other %}
