<div class="border rounded-lg flex flex-row p-2 m-1 gap-2 bg-blue-400">

    <div class="w-12">
        <svg class="w-12 h-12 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            {% include 'svg/database.html' %}
        </svg>

        {% if source.Splitter %}

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
            class="w-12 h-12 text-gray-800 dark:text-white" width="24" height="24">
            {% include 'svg/splitter.html' %}
        </svg>

        {% else %}

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
            class="w-12 h-12 text-gray-800 dark:text-white" width="24" height="24">
            {% include 'svg/field.html' %}
        </svg>

        {% endif %}

    </div>

    <div class="flex flex-col">
        <div class="flex flex-row gap-2 mb-2">
            <h2 class="text-xl font-bold">SQL Recordset</h2>
            <a class="rounded px-4 py-2 text-sm font-semibold text-white bg-red-500 hover:bg-red-400 focus:relative"
                href="{{ url_for('top.source.delete_source_view', workflow_id=source.WorkflowId, source_id=source.Id) }}">delete</a>
        </div>
        {% if source.Splitter %}
        {% include 'components/cards/splitter.html' %}
        {% else %}
        {% include 'components/cards/field.html' %}
        {% endif %}

        <p><span class="font-bold">Database:</span> {{ source.database.Name }}</p>
        <p class="font-bold">Query:</p>

        <div class="mt-2 p-1 rounded-lg bg-gray-100 cursor-pointer" hx-trigger="click"
            hx-get="{{ url_for('card.sql_text', source_id=source.Id) }}" hx-swap="innerHTML">
            <p>(click to show)</p>
        </div>

    </div>
</div>
