<!DOCTYPE html>
<html lang="en">
    {% include "components/head.html" %}
    <body class="bg-slate-100">
        <div class="flex">
            <!-- Sidebar -->
            {% include "components/side-menu.html" %}
            <!-- Main content -->
            <div class="flex-1 p-6 space-y-6">
                <div class="flex flex-row items-center mb-4 mt-6">
                    <div class="text-xl font-bold text-slate-800 mr-4">ADMIN LOGIN</div>
                    <div class="flex-grow border-t-2 border-slate-300"></div>
                </div>
                <div class="flex flex-col border rounded-lg bg-slate-200 text-slate-700 w-max">
                    <form action="{{ url_for("auth.login") }}" method="post" class="">
                        <div class="p-4 grid grid-cols-[auto_1fr] gap-x-4 gap-y-3 items-center">
                            <label for="username">Username:</label>
                            <input type="text"
                                   id="username"
                                   name="username"
                                   class="p-2 w-96 rounded-lg bg-white border-slate-300"
                                   required>
                            <label for="password">Password:</label>
                            <input type="password"
                                   id="password"
                                   name="password"
                                   class="p-2 w-96 rounded-lg bg-white border-slate-300 text-slate-700"
                                   required>
                        </div>
                        <button type="submit"
                                class="ml-4 mb-4 p-4 rounded-lg bg-sky-800 px-12 py-3 text-slate-100 hover:bg-sky-600">
                            Login
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for category, message in messages %}<li class="{{ category }}">{{ message }}</li>{% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </body>
</html>
