
{% extends "top/add_outcome_layout.html" %}

{% block title %}Add Text File Template{% endblock title %}

{% block content %}

<form method="POST" action="{{url_for('top.text.add_text_outcome_view', workflow_id=workflow_id)}}">
    {{ form.csrf_token }}

    <div class="border rounded bg-gray-50 p-4 flex items-center gap-4 mb-4">
        <div class="text-green-500">
            {% include 'svg/important.html' %}
        </div>

        <div class="flex-col space-y-4">
            <div>
                <p>
                Add any Text File, for example CSV or HTML.
                </p>
            </div>

            <div>
                <p>
                Add fields to your template using {{ field }} syntax.
                </p>
            </div>

            <div>
                <p>
                Check out more advanced options <a href="https://tommalkin.github.io/AutoDocument/templating.html" class="text-blue-600 font-bold">here</a>, including looping and conditionals!
                </p>
            </div>

        </div>
    </div>

    <div class="border rounded p-2 my-2 bg-gray-50">
        {% set file_label = 'Template:' %}
        {% include 'components/dynamic_file_access_form.html' %}

        {% set file_label = 'Output File:' %}
        {% with placeholder='example.html' %}
            {% include 'components/dynamic_output_file_access_form.html' %}
        {% endwith %}
        
        <div class="mt-1.5">
            {{ form.submit(class='mt-1.5 rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium
            text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500') }}
        </div>
    </div>

</form>

{% endblock content %}
