<div class="overflow-x-auto rounded-lg border border-gray-200">
    <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">

        <tbody class="divide-y divide-gray-200">


            <tr>
                <td class="hover:bg-gray-50">
                    <a class="text-sm font-medium text-gray-900 focus:relative"
                        href="{{ url_for('top.word.add_word_outcome_view', workflow_id=workflow.workflow_id)}}">
                        <div class="w-full h-full px-8 py-2">
                            Microsoft Word Template
                        </div>
                    </a>
                </td>
            </tr>
            <tr>
                <td class="hover:bg-gray-50">
                    <a class="text-sm font-medium text-gray-900 focus:relative"
                        href="{{ url_for('top.pdf.add_pdf_outcome_view', workflow_id=workflow.workflow_id)}}">
                        <div class="w-full h-full px-8 py-2">
                            PDF Template
                        </div>
                    </a>
                </td>
            </tr>
            <tr>
                <td class="hover:bg-gray-50">
                    <a class="text-sm font-medium text-gray-900 focus:relative"
                        href="{{ url_for('top.html.add_html_outcome_view', workflow_id=workflow.workflow_id)}}">
                        <div class="w-full h-full px-8 py-2">
                            HTML Template
                        </div>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
