<div class="overflow-x-auto rounded-lg border border-gray-200">
    <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">

        <tbody class="divide-y divide-gray-200">

            <tr>
                <td class="hover:bg-gray-50">
                    <a class="text-sm font-medium text-gray-700 focus:relative"
                        href="{{ url_for('top.form_field.add_form_field_view', workflow_id=workflow.workflow_id)}}">
                        <div class="w-full h-full px-8 py-2">
                            Form Field 
                        </div>
                    </a>
                </td>
            </tr>
            
            <tr>
                <td class="hover:bg-gray-50 whitespace-nowrap px-4 py-2 font-medium text-gray-900">

                    <div class="flex space-x-1">

                        <div class="content-center">
                            <p class="px-4 py-2 text-sm font-medium text-gray-700 focus:relative"
                                href="{{ url_for('top.form_field.add_form_field_view', workflow_id=workflow.workflow_id)}}">
                                Database
                            </p>
                        </div>

                        <div>
                            <div class="flex-col rounded-md border bg-white shadow-sm">
                                <a href="{{ url_for('top.sql.add_record_source_view', workflow_id=workflow.workflow_id)}}">
                                    <div class="px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:relative">
                                        Single Record
                                    </div>
                                </a>
                                <a href="{{ url_for('top.sql.add_record_set_source_view', workflow_id=workflow.workflow_id)}}">
                                    <div class="px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:relative">
                                        Multiple Records
                                    </div>
                                </a>
                                <a href="{{ url_for('top.sql.add_record_set_transpose_source_view', workflow_id=workflow.workflow_id)}}">
                                    <div class="px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:relative">
                                        Transposed Record
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="hover:bg-gray-50 whitespace-nowrap px-4 py-2 font-medium text-gray-900">

                    <div class="flex space-x-1">

                        <div class="content-center">
                            <p class="px-4 py-2 text-sm font-medium text-gray-700 focus:relative"
                                href="{{ url_for('top.form_field.add_form_field_view', workflow_id=workflow.workflow_id)}}">
                                CSV
                            </p>
                        </div>

                        <div>
                            <div class="flex-col rounded-md border bg-white shadow-sm">
                                <a href="{{ url_for('top.csv.add_csv_record_source_view', workflow_id=workflow.workflow_id)}}">
                                    <div class="px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:relative">
                                        Single Record
                                    </div>
                                </a>
                                <a href="{{ url_for('top.csv.add_csv_table_source_view', workflow_id=workflow.workflow_id)}}">
                                    <div class="px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:relative">
                                        Multiple Records
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="hover:bg-gray-50 whitespace-nowrap px-4 py-2 font-medium text-gray-900">

                    <div class="flex space-x-1">

                        <div class="content-center">
                            <p class="px-4 py-2 text-sm font-medium text-gray-700 focus:relative"
                                href="{{ url_for('top.form_field.add_form_field_view', workflow_id=workflow.workflow_id)}}">
                                Excel
                            </p>
                        </div>

                        <div>
                            <div class="flex-col rounded-md border bg-white shadow-sm">
                                <a href="{{ url_for('top.excel.add_excel_record_source_view', workflow_id=workflow.workflow_id)}}">
                                    <div class="px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:relative">
                                        Single Record
                                    </div>
                                </a>
                                <a href="{{ url_for('top.excel.add_excel_table_source_view', workflow_id=workflow.workflow_id)}}">
                                    <div class="px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:relative">
                                        Multiple Records
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
