<form method="POST" action="{{ url_for('meta.fs.add_posix') }}">
    {{ posix_form.csrf_token }}
    <div>
    {{ posix_form.local_path.label(class='block text font-medium text-gray-900') }}
    {{ posix_form.local_path(class='mt-1.5 p-2 w-full rounded-lg bg-gray-50 border-gray-300 text-gray-700 sm:text-sm') }}
    </div>

    <div>
    {{ posix_form.remote_path.label(class='block text font-medium text-gray-900') }}
    {{ posix_form.remote_path(class='mt-1.5 p-2 w-full rounded-lg bg-gray-50 border-gray-300 text-gray-700 sm:text-sm') }}
    </div>

    <div class="mt-1.5">
        {{ posix_form.submit(class='mt-1.5 rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium
        text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500') }}
    </div>

</form>
