<table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
    <thead class="text-left">
        <tr>
            <th class="font-bold whitespace-nowrap px-4 py-2 text-gray-900 text-left">Container Path</th>
            <th class="font-bold whitespace-nowrap px-4 py-2 text-gray-900 text-left">Linux Path</th>
            <th class="font-bold whitespace-nowrap px-4 py-2 text-gray-900 text-left"></th>
        </tr>
    </thead>

    <tbody class="divide-y divide-gray-200">

        {% for fs in linux_filesystems %}
        <tr>
            <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">{{ fs.LocalPath }}</td>
            <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">{{ fs.RemotePath }}</td>
            <td class="whitespace-nowrap px-4 py-2">
                <a class="inline-block rounded px-4 py-2 text-sm font-semibold text-white bg-red-500 hover:bg-red-400 focus:relative"
                    href="{{ url_for('meta.fs.delete', storage_instance_id=fs.Id )}}">delete</a>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
