<h3>Form:</h3>
<div class="overflow-x-auto rounded-lg border border-gray-200 mb-4">
<table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
    <thead class="text-left">
        <tr>
            <th class="font-bold whitespace-nowrap px-4 py-2 text-gray-900 text-left">Type</th>
            <th class="font-bold whitespace-nowrap px-4 py-2 text-gray-900 text-left">Name</th>
            <th class="font-bold whitespace-nowrap px-4 py-2 text-gray-900 text-left">Label</th>
            <th class="font-bold whitespace-nowrap px-4 py-2 text-gray-900 text-left"></th>
        </tr>
    </thead>

    <tbody class="divide-y divide-gray-200">

        {% for form_field in form_fields %}
        <tr>
                <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{ form_field['FieldType'] }}</td>
                <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{ form_field['FieldName'] }}</td>
                <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{ form_field['FieldLabel'] }}</td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                    <span class="inline-flex -space-x-px overflow-hidden rounded-md border bg-white shadow-sm">
                        <a class="inline-block px-4 py-2 text-sm font-semibold text-white bg-red-500 hover:bg-red-400 focus:relative"
                            href="{{ url_for('top.source.delete_form_field_view', form_field_id=form_field['FormFieldId'], workflow_id=workflow.workflow_id) }}">delete</a>
                    </span>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
</div>
