<table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
    <thead class="text-left">
        <tr>
            <th class="font-bold  whitespace-nowrap px-4 py-2 text-gray-900 text-left">instance id
            </th>
            <th class="font-bold whitespace-nowrap px-4 py-2 text-gray-900 text-left">start time
            </th>
        </tr>
    </thead>

    <tbody class="divide-y divide-gray-200">

        {% for instance in instances %}
        <tr>
            <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900"><a
                    href="{{ url_for('top.instance_information', instance_id=instance['instanceid']) }}">{{
                    instance['instanceid'] }}</a></td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                {{ instance['starttime'] }}
            </td>

        </tr>
        {% endfor %}

    </tbody>
</table>
