
<table class="rounded-lg min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
    <thead class="text-left">
        <tr>
            <th class="font-bold whitespace-nowrap px-4 py-2 text-gray-900 text-left">Provider</th>
            <th class="font-bold whitespace-nowrap px-4 py-2 text-gray-900 text-left">Base URL</th>
            <th class="font-bold whitespace-nowrap px-4 py-2 text-gray-900 text-left">Model</th>
            <th class="font-bold whitespace-nowrap px-4 py-2 text-gray-900 text-left">System Prompt Default</th>
        </tr>
    </thead>

    <tbody class="divide-y divide-gray-200">

        {% for llm in llms %}
        <tr>
            <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">{{ llm.provider.CommonName }}</td>
            <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">{{ llm.BaseURL }}</td>
            <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">{{ llm.ModelName }}</td>
            <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">{{ llm.SystemPrompt }}</td>
            <td class="whitespace-nowrap px-4 py-2">
                <a class="inline-block rounded px-4 py-2 text-sm font-semibold text-white bg-red-500 hover:bg-red-400 focus:relative"
                    href="{{ url_for('meta.llm.delete', llm_id=llm.Id )}}">delete</a>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
