<table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
    <thead class="text-left">
        <tr>
            <th class="font-bold  whitespace-nowrap px-4 py-2 text-gray-900 text-left">Id</th>
            <th class="font-bold whitespace-nowrap px-4 py-2 text-gray-900 text-left">Name</th>
            <th class="font-bold whitespace-nowrap px-4 py-2 text-gray-900 text-left">Connection String</th>
        </tr>
    </thead>

    <tbody class="divide-y divide-gray-200">

        {% for database in databases %}
        <tr>
            <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">{{ database['DatabaseId'] }}</td>
            <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">{{ database['Name'] }}</td>
            <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">{{ database['ConnectionString'] }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>
