<table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
    <thead class="text-left">
        <tr>
            <th class="font-bold  whitespace-nowrap px-4 py-2 text-gray-900 text-left">Id</th>
            <th class="font-bold whitespace-nowrap px-4 py-2 text-gray-900 text-left">URL</th>
            <th class="font-bold whitespace-nowrap px-4 py-2 text-gray-900 text-left">Library</th>
        </tr>
    </thead>

    <tbody class="divide-y divide-gray-200">

        {% for fs in sharepoints %}
        <tr>
            <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">{{ fs['FileAccessId'] }}</td>
            <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">{{ fs['URL'] }}</td>
            <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">{{ fs['RemotePath'] }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>
