{% if form_exists %}
    <div class="flex flex-row items-center mb-4">
        <div class="text-xl font-bold text-slate-800 mr-4">FORM</div>
        <div class="flex-grow border-t-2 border-slate-300"></div>
    </div>
    <div hx-get="{{ url_for('card.form_card', workflow_id=workflow_id) }}"
         hx-trigger="load"
         hx-swap="outerHTML"></div>
{% endif %}
{% if steps %}
    </div>
    <div class="flex-grow">
        {% for step in steps %}
            <div class="mt-6">
                <div class="flex flex-row items-center mb-4">
                    <div class="flex border-t-1 border-slate-300 w-1/12"></div>
                    <div class="font-bold text-slate-800 mx-4">Step {{ step }}</div>
                    <div class="flex-grow border-t-1 border-slate-300"></div>
                </div>
                <div class="flex flex-col flex-grow gap-6">
                    {% for source in sources %}
                        {% if source.Step == step %}
                            <div hx-get="{{ url_for('card.source_card', source_id=source.Id) }}"
                                 hx-trigger="load"
                                 hx-swap="outerHTML"></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% if not form_exists and not steps %}
    <div class="border rounded-lg flex flex-row p-1 m-1 gap-2 bg-slate-100 border-slate-300 text-slate-700">
        <div>
            <svg class="w-12 h-12 text-sky-800"
                 aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 fill="none"
                 viewBox="0 0 24 24">
                {% include 'svg/important.html' %}
            </svg>
        </div>
        <div>
            <h1 class="text-xl font-bold">Get Started: Add a Source</h1>
            <p>Sources provide the data the workflow uses to generate the templates for the Outcomes.</p>
            <p>They are spreadsheets, database queries, user forms etc.</p>
        </div>
    </div>
{% endif %}
{% if outcomes %}
    <div class="mt-6 flex items-center justify-center w-full text-slate-700">
        <svg xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 24 24"
             stroke-width="1.5"
             stroke="currentColor"
             class="size-24">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 5.25 7.5 7.5 7.5-7.5m-15 6 7.5 7.5 7.5-7.5" />
        </svg>
    </div>
    <div class="flex flex-row items-center my-4 mt-6">
        <div class="text-xl font-bold text-slate-800 mr-4">OUTCOMES</div>
        <div class="flex-grow border-t-2 border-slate-300"></div>
    </div>
    <div class="flex flex-col flex-grow gap-6">
        {% for outcome in outcomes %}
            <div hx-get="{{ url_for('card.outcome_card', outcome_id=outcome.Id) }}"
                 hx-trigger="load"
                 hx-swap="outerHTML"></div>
        {% endfor %}
    </div>
{% else %}
    <div class="border rounded-lg flex flex-row p-1 mt-3 m-1 gap-2 bg-slate-100 border-slate-300 text-slate-700">
        <div>
            <svg class="w-12 h-12 text-sky-800"
                 aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 fill="none"
                 viewBox="0 0 24 24">
                {% include 'svg/important.html' %}
            </svg>
        </div>
        <div>
            <h1 class="text-xl font-bold">Get Started: Add an Outcome</h1>
            <p>Outcomes are the files the Workflow will generate when run.</p>
            <p>They require a template, and a file name where the new file(s) will be saved.</p>
        </div>
    </div>
{% endif %}
