<!DOCTYPE html>
<html lang="en">

{% include "components/head.html" %}

<body class="bg-gray-100">
    <div class="flex flex-row">
        <!-- Sidebar -->
        {% include "components/side-menu.html" %}

        <!-- Content -->
        <div class="p-6 flex-grow font-bold gap-2">

                <h1 class="text-3xl font-semibold mb-4">Administrator Dashboard</h1>

                <div class="flex flex-col gap-2 w-1/5">
                    <a href="{{url_for('meta.db.manage')}}" class="border border-indigo-600 bg-indigo-300 rounded py-6 px-3 hover:bg-indigo-100">
                        <p>Manage Databases</p>
                    </a>
                    <a href="{{ url_for('meta.fs.manage') }}" class="border border-indigo-600 bg-indigo-300 rounded py-6 px-3 hover:bg-indigo-100">
                        <p>Manage File Systems</p>
                    </a>
                    <a href="{{ url_for('meta.sp.manage') }}" class="border border-indigo-600 bg-indigo-300 rounded py-6 px-3 hover:bg-indigo-100">
                        <p>Manage SharePoint Libraries</p>
                    </a>
                    <a href="{{ url_for('meta.s3.manage') }}" class="border border-indigo-600 bg-indigo-300 rounded py-6 px-3 hover:bg-indigo-100">
                        <p>Manage S3</p>
                    </a>
                </div>
        </div>

    </div>
</body>

</html>
